@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body>* {
    /* centrando o <p> dos divs */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

/* div "menu" */
header {
    /* O menu está sticky e ocupa 10vh da altura do viewport */
    height: 10vh;
    background: black;
    color: white;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-contents: flex-end;
}


nav a {
    display: block;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: white
}


main {
    /* como o menu ocupa 10vh, este tem 90vh para o vermo inteiro. */
    height: 90vh;
    background-image: url("/imagens/cidade.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


main>p {
    font-size: 3rem;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;
    /* ADD THIS LINE */

    /* Background styles */
    background-image: url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;

    /* Border styles */
    border: 3px solid white;
    /* CHANGE THIS LINE */
    border-radius: 20px;
}



footer {
    /* definindo altura e cor */
    height: 10vh;
    background: black;
    color: white;
}