@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');






* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}


body>* {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

/* div "menu" */
header {
    /* O menu está sticky e ocupa 10vh da altura do viewport */
    height: 10vh;
    background: black;
    color: white;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
}


nav {
    display: flex;
    background-color: black;
    padding: 30px 50px;
}


nav a {

    display: block;
    padding: 1em;
    text-decoration: none;
    font-size: 1rem;
    color: white;

}

nav a:hover {
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    color: #F3EEEC;
    border-radius: 24px;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: 0.5s;

}

.cur {
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    outline: none;
    color: #F3EEEC;
    border-radius: 24px;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}


main {
    /* como o menu ocupa 10vh, este tem 90vh para o vermo inteiro. */
    height: 90vh;
    background-image: url("/imagens/cidade.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


main>p {
    font-size: 3rem;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;
    /* ADD THIS LINE */

    /* Background styles */
    background-image: url('/imagens/cidade.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h2 {
    /* Text styles */
    font-size: 1.5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1em;

    /* Border styles */
    border: 3px solid white;
    /* CHANGE THIS LINE */
    border-radius: 20px;
}



footer {
    /* definindo altura e cor */
    height: 10vh;
    background: black;
    color: white;
}